@if (radioGroupVisible) {
  <igx-radio-group [(ngModel)]="value" class="radio-group">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>
}
<img src="/assets/IMG_8691 3.jpg" class="image" />
<igx-input-group type="border" class="textarea">
  <label igxLabel>PLACE DE COVOITURAGE DISPONIBLE: 45</label>
  <textarea igxInput [(ngModel)]="value1"></textarea>
</igx-input-group>
